<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <p>
        {{form.old_password.label}}<br>
        {{form.old_password(class= "form-field")}}
        {% for error in form.old_password.errors %}
        <span>[{{error}}]</span>
        {% endfor %}
    </p>
    <br>
    <p>
        {{form.password.label}}<br>
        {{form.password(class= "form-field")}}
        {% for error in form.password.errors %}
        <span>[{{error}}]</span>
        {% endfor %}
    </p>
    <br>
    <p>
        {{form.password2.label}}<br>
        {{form.password2(class= "form-field")}}
        {% for error in form.password2.errors %}
        <span>[{{error}}]</span>
        {% endfor %}
    </p>
    <br>
    <p>{{form.submit(id='submit-password')}}</p>
</form>

