

#item-suggestions{

  position: absolute;
  width: 100%;
  display: list-item;
  overflow: auto;


}

#category-suggestions{

  position: absolute;
  width: 100%;
  display: list-item;
  overflow: auto;


}

.choice{
  background: white;
  opacity: 0.95;
  margin-top: 0.2em;
  z-index: 100;

}