#modes-group {
  margin: 5% auto 5% auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 60%;
}

#modes-group button {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#calendar-holder {
  display:inline-block;
  width: 50%;
  margin: 80px 25% 0% 25%;
}

#calendar {
  cellspacing: 0;
  width: 100%;
  border-collapse: collapse;
  position: relative;
  margin-bottom: 5%;
}

#calendar th {
  position: relative;
  width:  calc(100%*1/7);
  padding: 0;
  padding-bottom:  calc(100%*1/21);
  border: 2px solid darkred;
  outline: 1px solid orange;
  outline-offset: -1.5px;
}

#calendar td {
  position: relative;
  width:  calc(100%*1/7);
  padding: 0;
  padding-bottom:  calc(100%*1/10.5);
  border: 1px solid darkgray;
  margin: 1%;
}

#calendar th div {
  position: absolute;
  font-size: 1.25vw;
  padding: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#calendar td div {
  position: absolute;
  height: 60%;
  width: 40%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.25vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clicked {
  background: lightblue;
}

.outer-day {
  font-weight: bold;
  color: darkgray;
  font-size: 75%;
}

.day {
  font-weight: bold;
  color: black;
  font-size: 1em;
}

@media only screen and (max-width: 650px) {
  #calendar th div, #calendar td div {
    font-size: 2vw;
  }
  #calendar-holder {
    width: 80%;
    margin: 80px 10% 0% 10%;
  }

  #table-costs {
    font-size: 2vw;
  }
}

