






#modes-group{
  margin: 5% auto 5% auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 60%;


}

#modes-group button{
  width: 40%;
  white-space: no-wrap;

}








#calender-holder{
    display:inline-block;

    width: 50%;
    margin: 0% 25% 0% 25%;


}

#calender{
    cellspacing: 0;
    width: 100%;
    border-collapse: collapse;
    position: relative;
    margin-bottom: 5%;
}




#calender th {
    position: relative;
    width:  calc(100%*1/7);
    padding: 0;
    padding-bottom:  calc(100%*1/21);
    border: 2px solid darkred;
    outline: 1px solid orange;
    outline-offset: -1.5px;



}

#calender td {
    position: relative;
    width:  calc(100%*1/7);
    padding: 0;
    padding-bottom:  calc(100%*1/10.5);
    border: 1px solid darkgray;
    margin: 1%;


}





#calender th div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.week td div {
    position: absolute;
    height: 48%;
    width: 32%;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
    display: flex;



    /** background-color: lightgray;
    border: 1px solid black;**/

    font-size: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.clicked {
      background: lightblue;

}


.outer-day{
    font-weight: bold;
    color: darkgray;
    font-size: 0.75em;
}

.day{
    font-weight: bold;
    color: black;
    font-size: 1em;
}

