#options-container {
  position: relative;
  width: auto;
  display: inline-flex;
  width: 120%;
  margin-left: -10%;
  background: lightgray;
  margin-bottom: 10%;
  text-align: center;
  box-sizing: border-box;
}

.profile-form {
  border: 0.1px solid black;
  border-radius: 2em;
  position: absolute;
  height: auto;
  max-width: 300px;
  width: 50%;
  padding: 15px 30px 15px 30px;
  border : 0.5px solid black;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.profile-option {
  padding: 5% 0 5% 0;
  flex: 1;
  box-sizing: border-box;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}

.chosen-option {
  margin: 0 -1px 0 -1px;
  border: 0.5px black solid;
  background: white;
  box-sizing: border-box;
}