#options-container {
  position: relative;
  width: auto;
  display: inline-flex;
  width: 100%;
  background: lightgray;
  margin-bottom: 15%;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

#profile-form {
  padding: 0 7.5% 0 7.5%;
}

#edit-profile-form {
  border: 0.1px solid black;
  border-radius: 1.5em;
  position: absolute;
  height: auto;
  max-width: 350px;
  width: 50%;
  border : 0.5px solid black;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#edit-profile-form h2{
  margin-left: 7.5%;
}

.profile-option {
  padding: 5% 0 5% 0;
  flex: 1;
  box-sizing: border-box;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}

.profile-option:hover {
  cursor: pointer;
}

.chosen-option {
  margin: 0 -0.5px 0 -0.5px;
  border: 0.5px black solid;
  background: white;
  box-sizing: border-box;
}

@media only screen and (max-width: 650px) {
  #edit-profile-form {
  width: 70%;

  }
}

