.form-container {
  position: relative;
  height: 100vh;
}

.form {
  border: 0.1px solid black;
  border-radius: 1em;
  position: absolute;
  height: auto;
  max-width: 300px;
  width: 60%;
  padding: 15px 30px 15px 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.form:after {
    position: absolute;
    content: "";
    bottom: -50px;
    height: 50px;
    width: 10%;
}

.form-field {
  width: 100%;
  box-sizing:border-box;
}

.form-field-alt {
  height: 25px;
  width: 100%;
  box-sizing:border-box;
}

.form-alt {
  border: 0.1px solid black;
  position: absolute;
  height: auto;
  width: 90%;
  padding: 15px 30px 15px 30px;
  margin-bottom: 5%;
  box-sizing:border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.form-alt2 {
  border: 0.1px solid black;
  position: relative;
  height: auto;
  width: 100%;
  padding: 15px 15px 15px 15px;
  margin-bottom: 5%;
  box-sizing:border-box;
}

.item-form {
  display:flex;
  align-items: flex-end;
  flex-wrap: no-wrap;
  gap: 10px;
}

.submit input {
  height: 25px;
  font-size: 0.75em;
}

.form-error {
  position:absolute;
  margin-top: 3em;
  margin-left: 0;
  width: 100%;
  margin-left: -100%;
  z-index: -1;
}

.form-element {
  position: relative;
  display: inline-block;
  flex-grow: 3;

}

.form-element2 {
  position: relative;
  display: inline-block;
  flex-grow: 1;
}

.submit-group {
  display: flex;
  flex-direction: row;
}

.logo {
  display: inline-block;
  position: relative;
  height: 50px;
  top: 35px;
  left: 35px;
}

.logo img {
    height: 50px;
}

.link-password {
  float: left;
  font-size: 0.75em;
}

.link-register {
  float: right;
  font-size: 0.75em;
}

@media only screen and (max-width: 650px) {
  .form-alt {
    width: 80%;
    margin-top: 50px;
  }

  .item-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .form-element, .form-element2, .submit-group {
    align-self: start;
    width: 100%;
  }

  .form-error {
    position:relative;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    margin-left: 0;
    z-index: -1;
  }

  .logo {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 60px;
  }

  .form {
  position: absolute;
  display: inline-block;
  top: 100px;
  transform: translate(-50%, 0%)
  }

  .link-register {
  float: left;
  }

  .link-password {
  margin-right: 5em;
  }

}
