.navbar {
    display: grid;
    width: 90%;
    list-style-type: none;                                  /*remove bullets*/
    grid-template-columns: 1fr auto auto auto;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    border: 2px solid white;
    height: 40px;
    background: gray;
    padding-left:0;
}

.navbar-container{
  position: fixed;
  width: 100%;
  background-image: linear-gradient(180deg,  rgba(255, 255, 255, 1),  rgba(255, 255, 255, 0.0));
  z-index: 100;
  padding: 20px 0 20px 0;
}

.nav-item{
    padding: 0 35px 0 35px;
    height: 40px;
    line-height: 40px;

}


.nav-item:first-child {
    justify-self: start;                                  /*remove underlines from links*/
}

.navbar a {
    text-decoration: none;                                  /*remove underlines from links*/
    color: white;
}

.url-link {
    text-decoration: none;                                  /*remove underlines from links*/
}




.dropdown:hover > .dropdown-content{

  display: block;
  position: absolute;
  left: 0px;
  color: white;
  list-style: none;
}

.dropdown-content:hover{

  display: block;
  left: 0px;
  color: white;
  list-style: none;

}


.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background: lightgray;
  padding-left: 0px;
  z-index: 1;
}

.dropdown-content li{
  border: 0.1px solid white;
}

.dropdown {
  position: relative;
}

@media only screen and (max-width: 650px) {
    .navbar {
      grid-template-columns: auto auto auto auto;
      justify-content: space-evenly;
    }
    .nav-item{
    padding: 0 10px 0 10px;
    }

}

