

#type-query-container button{
  width: 50%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
    box-sizing:border-box;

}

#type-query-container {
    white-space: nowrap;
      box-sizing:border-box;
      width: 25%;

}

#type-query{
  width: 100%;
  box-sizing:border-box;
}




#query-options label {
  white-space: nowrap;

}




.form-field{
    width: 100%;
    box-sizing:border-box;

}

.chosen{
  background: lightblue;
}



#table-costs a {
  text-decoration:none;
  color: cornflowerblue;
}
