#type-query-container button {
  width: 50%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  box-sizing:border-box;
}

#type-query-container {
  white-space: nowrap;
  box-sizing:border-box;
  width: 25%;
}

#currency-query-container {
  overflow: auto;
  max-width: 100%;
}


#type-query {
  width: 100%;
  box-sizing:border-box;
}

#query-options label {
  white-space: nowrap;
}

#query-option {
  overflow: auto;
}

#table-costs a {
  text-decoration: none;
  color: cornflowerblue;
}

.form-field {
    box-sizing:border-box;
}

.chosen {
  background: lightblue;
}

@media only screen and (max-width: 650px) {
  #type-query-container {
  width: 50%;
  }
}

