@import "navbar.css";
@import "month-navbar.css";
@import "forms.css";
@import "calender.css";
@import "table-query.css";
@import "auto-fill.css";










body {
    padding: 0px;
    margin: 0px;
    font-family: "Ariel", "Helvetica", monospace;
}


.hidden {
  visibility: hidden;
}