@import "navbar.css";
@import "month-navbar.css";
@import "forms.css";
@import "calender.css";
@import "query-table.css";
@import "query-options.css";
@import "auto-fill.css";
@import "flash-message.css";
@import "modal.css";
@import "edit-profile.css";

body {
  padding: 0px;
  margin: 0px;
  font-family: "Ariel", "Helvetica", monospace;
}

.hidden {
  visibility: hidden;
}

.disappeared {
  display: none;
}

.url-link {
  text-decoration: none;
  font-size: 0.85em;
  display: inline-block;
}

