<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
<nav class="navbar-container">
  <ul class="navbar">
    <li class="nav-item">
      <a class="nav-home" href="{{url_for('entries')}}">Home</a>
      <a class="nav-logo" href="{{url_for('entries')}}">
        <img src="/static/images/ecf-pale.png" alt="Home" height=25em >
      </a>
    </li>
    <li class="nav-item"><a href="{{url_for('entries')}}">New entry</a></li>
    <li class="nav-item"><a href="{{url_for('overview')}}">Overview</a></li>
    <li class="nav-item dropdown"><a href="#">Profile</a>
      <ul class="dropdown-content">
        <li class="nav-item-dd"><div><a href="{{url_for('profile', username=current_user.username)}}">Settings</a></div></li>
        <li class="nav-item-dd"><a href="{{url_for('logout')}}">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>