<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

<header class="header">

    {% block navbar %}
        {% include 'navbar/_navbar_root.html' %}
    {% endblock %}

    <div></div>
</header>
<div></div>



    {% block widget %}
    {% endblock %}

<!--  {% with messages = get_flashed_messages() %}-->
<!--      {% if messages %}-->
<!--      <ul>-->
<!--        {% for message in messages %}-->
<!--            <li>{{ message }}</li>-->
<!--        {% endfor %}-->
<!--      </ul>-->
<!--      {% endif %}-->
<!--  {% endwith %}-->



</body>
</html>