<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" charset="utf8" src="/static/javascript/_flash-message.js"></script>
</head>
<body>

<header class="header">

    {% block navbar %}
        {% include 'navbar/_navbar_root.html' %}
    {% endblock %}


    {% with messages = get_flashed_messages() %}
      {% if messages %}

        {% for message in messages %}
            <script>createFlashMessage('{{ message }}')</script>
        {% endfor %}

      {% endif %}
    {% endwith %}


    <div></div>
</header>
<div></div>



    {% block widget %}
    {% endblock %}





</body>
</html>