<div id="calender-holder"></div>
<hr>
<div id="queried-holder"></div>

<script id="preset_loader">
  var presets = {{presets_loader|tojson}}
  var lastQuery = {{last_query|tojson}}
  document.getElementById('preset_loader').remove()
</script>

<script type="text/javascript" charset="utf8" src="/static/javascript/auto-fill.js"></script>
<script type="text/javascript" charset="utf8" src="/static/javascript/query-options.js"></script>
<script type="text/javascript" charset="utf8" src="/static/javascript/query-table.js"></script>
<script type="text/javascript" charset="utf8" src="/static/javascript/calender.js"></script>







