<script id="preset_loader">
var form = {{form|safe|tojson}}
document.getElementById('preset_loader').remove()
</script>

<div class="form-container">
  <div class="form">
    <h2>Edit profile</h2>
    <div id="options-container">
      <span class="profile-option">Personal</span>
      <span class="profile-option">Settings</span>
      <span class="profile-option">Password</span>
    </div>
    <div id="form-container">
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf8" src="/static/javascript/edit-profile.js"></script>
<script type="text/javascript" charset="utf8" src="/static/javascript/_flash-message.js"></script>